{% extends "base.html" %}
{% block content %}
  <h1>Hellsing Ultimate</h1>
  <p>
    <button class="btn btn-success">Lisää</button> <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <ul>
    <li><strong>Julkaisupäivä:</strong> 1.2.2006</li>
    <li><strong>Genre:</strong> toiminta, jännitys, kauhu</li>
    <li><strong>Jaksojen määrä:</strong> 10</li>
  </ul>
  <p>
    Pahaa-aavistamattomien ihmisten keskuudessa elää, ja on aina elänyt vampyyrejä ja muita yliluonnollisia olentoja. Näiden hirviöiden tappamiseen on kuitenkin erikoistunut monia organisaatioita joista Englannin kuningattaren alaisuudessa toimiva Hellsing organisaatio on jo vuosisatoja ollut vastuussa normaali-ihmisten varjelusta näiltä pimeyden olennoilta. Hellsingin voimakkain ase onkin organisaation taltuttama ja orjuuttama vampyyri Alucard, joka käyttää voimiaan Hellsingin hyväksi tuhoten muita vampyyrejä. Samanaikaisesti kun Hellsing sotii Vatikaanin Iscariot organisaation kanssa jonka arkkipiispa tahtoo tuhota protestanttisen Englannin ja tämän väestön, jokin suurempi uhka paljastuu kun Hellsing tajuaa että jonkinlainen järjestö ohjailee suurentunutta määrää vampyyrien hyökkäyksissä ja on valmis syöksemään koko Englannin tuhoon vain Alucardin tuhoamisen tähden.
  </p>
{% endblock %}
