{% extends "base.html" %}
{% block content %}
{% for sarja in sarjat %}
  <h1>{{sarja.name}}</h1>
  <p>
    <button class="btn btn-success">Lisää</button> <button class="btn btn-danger">Poista</button> <a href="{{base_path}}/edit" class="btn btn-default">Muokkaa</a>
  </p>
  <ul>
    <li><strong>Julkaisupäivä:</strong> {{sarja.published}}</li>
    <li><strong>Genre:</strong> {{sarja.genre}}</li>
    <li><strong>Jaksojen määrä:</strong> {{sarja.episodes}}</li>
  </ul>
  <p>
    {{sarja.description}}
  </p>
{% endfor %}
{% endblock %}
